/* tag selectors */

body {
  background-color: #F0F0F0;
  text-align: center;
}

h1 {
  padding-left: 2.5rem;
  color: floralwhite;
  line-height: 2;
  width: 200px;
  font-family: "Big Shoulders Display", sans-serif;
  text-align: left;

}

p {
  padding-left: 2.5rem;
  color: floralwhite;
  line-height: 2;
  width: 200px;
  font-family: "Lexend-Deca", sans-serif;
  text-align: left;
  margin-bottom: 100px;
}

/* class selectors */
/* divs */

.container {
  position: relative;
  margin: 100px auto;
}


.sedan {
  background-color: #E28525;
  display: inline-block;
  height: 35rem;
  width: 19rem;
}

.suv {
  background-color: #016972;
  display: inline-block;
  height: 35rem;
  width: 19rem;
}

.luxury {
  background-color: #00403F;
  display: inline-block;
  height: 35rem;
  width: 19rem;
}


/* buttons */

.btn {
  position: relative;
  padding: 10px 15px;
  margin-right: 110px;
  font-family: "Montserrat", sans-serif;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 20px;
  color: #00403F;
  font-size: 16px;
  font-weight: bold;
  background-color: floralwhite;
  text-decoration: none;
  cursor: pointer;
}



.btn-sedan{
  color: #E28525;

}

.btn-suv{
  color: #016972;
}


.btn-luxury{
  color: #00403F;
}


.btn:hover {
  color: floralwhite;
  background-color: inherit;
  cursor: pointer;
  border: floralwhite;
  border-style: solid;
}


/* images */
.vehicle_img {
  padding-top: 3rem;
  padding-right: 10rem;
}
